body {
	margin: auto;
}

#div {
   margin: 0 auto;
	width: 700px;
	height: 20px;
	background-image: url("../../images/line.png");
	background-repeat: no-repeat;
}

#div1 {
	margin: 0 auto;
	width: 700px;
	min-height: 100px;
	border: 1px solid #dddddd;
}

#div2 {
	margin: 0 auto;
	width: 700px;
	height: 300px;
	margin-top: 23px;
	border: 1px solid #dddddd;
}

#headLine {
	background-color:  #8fa1b8;
	height: 37px;
	width: 100%;
	color: #fff;
	line-height: 37px;
}
#titleDiv{
	width: 100%;
	text-align: left;
	float: left;
	margin-left: 70px;
	margin-top: 10px;
}
#titleDiv input{
	width: 300px;
}
#contentDiv{
	width: 100%;
}
#contentDiv textarea{
	width: 500px;
	height: 80px;
}
/* 这个样式是 jquery.wordlimitor插件的样式*/
.textlimit {
   position:absolute;
   font-size:9pt;
   color:#4586b5;
   font-size:16px;
   font-weight:bold;
   font-family:Arial;
   display:none;
}